<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CarmineOwl_Subdir::subdir" resource="CarmineOwl_Subdir::subdir"
             title="Sub Directories" module="CarmineOwl_Subdir"
             sortOrder="10" parent="Magento_Backend::system"
             dependsOnModule="Magento_Backend"/>
        <add id="CarmineOwl_Subdir::subdir_manage" resource="CarmineOwl_Subdir::subdir_manage"
             title="Manage" action="subdir/index/index" module="CarmineOwl_Subdir"
             sortOrder="10" parent="CarmineOwl_Subdir::subdir"
             dependsOnModule="Magento_Backend"/>
    </menu>
</config>
